<div class="bg-teal-100 flex h-96 max-h-fit w-72 flex-col items-center justify-center rounded-xl"
     [ngStyle]="getTiltDependedStyle()"
     (mousedown)="setMouseClickStart($event)"
     (touchstart)="setTouchClickStart($event)">
    <img [src]="recipe().imgUrl" alt="Food image" class="pointer-events-none size-full rounded-xl object-cover">
    <div class="text-gray-100 absolute bottom-0 w-full rounded-b-xl bg-gradient-to-t from-black from-10% to-transparent px-2 pb-3 pt-8 font-bold capitalize opacity-90 dark:from-teal-100">{{ recipe().name }}</div>
</div>
