<button type="button"
        [ngStyle]="rejectStyle()"
        (click)="reject()"
        class="text-gray-100 bg-red-400 hover:bg-red-500 absolute left-[calc(50%-120px)] bottom-4 inline-flex rounded-xl p-2 transition-all active:scale-95">
    <ng-icon name="heroXMarkSolid" size="3rem"></ng-icon>
</button>

<button type="button"
        [ngStyle]="acceptStyle()"
        (click)="accept()"
        class="text-gray-100 bg-green-400 hover:bg-green-500 absolute right-[calc(50%-120px)] bottom-4 inline-flex rounded-xl p-2 transition-all active:scale-95">
    <ng-icon name="heroCheckSolid" size="3rem"></ng-icon>
</button>
