@if (!animateOut) {
    <div [@fadeOutRight] [@fadeInRight]
         class="flex size-full flex-col items-center justify-center gap-5 overflow-y-auto @container">

        @if ((recipe$ | async); as recipe) {

            <div class="text-cyan-900 text-center text-6xl font-extrabold capitalize @xs:pt-96 @sm:pt-64 @md:pt-40 @4xl:pt-8">{{ recipe.name }}
            </div>
            <div class="text-teal-900 bg-cyan-100 w-full text-balance p-3 text-center
             text-2xl font-bold drop-shadow-2xl dark:bg-cyan-950">{{ recipe.description }}
            </div>

            <ol class="vertical-line-color-lm dark:vertical-line-color-dm grid max-w-[75%]
            list-none gap-5 text-clip [counter-reset:step] lg:max-w-[50%]">
                @for (instruction of withFinishingStep(recipe.instructions); track $index) {
                    <li class="text-teal-900 flex items-start gap-1.5 font-bold before:text-teal-900
                    before:bg-cyan-100 before:border-cyan-200 dark:before:border-cyan-100 before:grid before:aspect-square
                     before:h-[60px] before:place-content-center before:rounded-3xl before:border-4 before:font-extrabold
                     before:drop-shadow-2xl before:content-[counter(step)_'.'] before:[counter-increment:step]
                     before:dark:bg-cyan-950">
                        <div class="mt-4 text-balance">
                            {{ instruction }}
                        </div>
                    </li>
                }
            </ol>
        }

        <div class="absolute left-6 top-6" [@fadeInTop]>
            <button [@swing]="backButtonAnimationOscillator"
                    (click)="back()"
                    class="text-gray-100 bg-teal-400 inline-flex rounded-xl p-2
                    shadow-[0_0_30px_0_rgba(0,0,0,0.3)]  hover:bg-teal-500 active:scale-95">
                <ng-icon name="heroArrowLeft" size="2.5rem"></ng-icon>
            </button>
        </div>
    </div>

}
