<app-options/>

<div class="flex size-full flex-col items-center justify-center" [@fadeInDown]>
    @for (recipe of recipes(); track recipe) {
        <app-recipe-card [ngStyle]="{'z-index': $count - $index}"
                         [index]="$index"
                         [recipe]="recipe"
                         class="absolute z-10"/>
    } @empty {
        <p class="text-gray-800">No more recipes found!</p>
        <p class="text-gray-800">All hope is lost...</p>
    }
</div>

<app-pick-buttons (nextCardEvent)="nextCardEventHandler($event)"/>
